{% extends 'base.html' %}


{% block body %}
   <section class="elementor-section elementor-top-section elementor-element elementor-element-8f5d547 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="8f5d547" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c2e2dc4" data-id="c2e2dc4" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-dda2092 elementor-widget elementor-widget-heading" data-id="dda2092" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Presencial l Semipresencial</h4>		</div>
</div>
<div class="elementor-element elementor-element-0aad582 elementor-widget elementor-widget-heading" data-id="0aad582" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">ADMINISTRAÇÃO​</h3>		</div>
</div>
<div class="elementor-element elementor-element-5f99171 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5f99171" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-bdc285d elementor-widget elementor-widget-text-editor" data-id="bdc285d" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>Quer se tornar um profissional altamente qualificado e requisitado no mercado de trabalho? Com o Curso Técnico em Administração do SENAI você pode conquistar muito mais. Com conteúdos atualizados e alinhados às necessidades gerenciais das organizações, você terá acesso a uma experiência inovadora em diversas áreas administrativas, principalmente as que envolvam a gestão de recursos humanos, materiais, financeiros, mercadológicos e da informação. Podendo executar, planejar, coordenar e controlar atividades, inclusive no seu próprio negócio.</p><p><span style="font-size: 17px; color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif;">Por ser uma área transversal, poderá somar e ser um diferencial até mesmo para quem já possui alguma outra formação, agregando capacidades de gestão de processos, recursos e equipes.</span></p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-c7207e7 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c7207e7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-df31232" data-id="df31232" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-84cc013 elementor-widget elementor-widget-image" data-id="84cc013" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<div class="elementor-image">
<img width="768" height="512" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/curso-administracao_easy-resize-com-768x512-1.jpg" class="attachment-full size-full" alt="Curso Administração do SENAI" loading="lazy" srcset="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/curso-administracao_easy-resize-com-768x512-1.jpg 768w, https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/curso-administracao_easy-resize-com-768x512-1-300x200.jpg 300w" sizes="(max-width: 768px) 100vw, 768px">											</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-22b88af" data-id="22b88af" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-f8b1a2b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="f8b1a2b" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-423d933 elementor-widget elementor-widget-heading" data-id="423d933" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">De olho no mercado</h3>		</div>
</div>
<div class="elementor-element elementor-element-8fa2046 elementor-widget elementor-widget-text-editor" data-id="8fa2046" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>O técnico em administração pode gerir o próprio negócio,&nbsp;atuar como empregado de uma organização ou trabalhar de forma independente. Estará apto a executar atividades administrativas e coordenar equipes em atividades correlatas, no nível operacional, dos setores de produção e serviços, utilizando-se de técnicas e tecnologias apropriadas e de padrões éticos, legais, de qualidade, e segurança, com responsabilidade social e ambiental.&nbsp;</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-122af77 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="122af77" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;waves&quot;,&quot;shape_divider_bottom_negative&quot;:&quot;yes&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-shape elementor-shape-bottom" data-negative="true">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
<path class="elementor-shape-fill" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
</svg>		</div>
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-92d84c4" data-id="92d84c4" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-98098c7 elementor-widget elementor-widget-text-editor" data-id="98098c7" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>O SENAI forma o técnico em administração do futuro, um profissional que conduz a empresa a resultados, através de processos e ferramentas modernas, aliado ao perfil de liderança que valoriza as pessoas, sem abrir mão da tecnologia.</p><p><span style="font-size: 17px; color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif;">Se prepare para o mercado de trabalho, venha fazer parte do SENAI!</span></p></div>
</div>
</div>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-c36cbca elementor-section-height-min-height elementor-section-boxed elementor-section-height-default" data-id="c36cbca" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-82fe128" data-id="82fe128" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4c07abb elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="4c07abb" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://www.tecnicosenai.com.br/wp-content/uploads/2021/11/Matriz-Tecnico-em-Administracao-–-Presencial.pdf" target="_blank" class="elementor-button-link elementor-button elementor-size-md elementor-animation-pulse-grow" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<i aria-hidden="true" class="far fa-arrow-alt-circle-down"></i>			</span>
<span class="elementor-button-text">Baixar Matriz Curricular - Presencial</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c946b31" data-id="c946b31" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-ec1cc50 elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="ec1cc50" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://www.tecnicosenai.com.br/wp-content/uploads/2021/11/Matriz-Tecnico-em-Administracao-Semipresencial.pdf" target="_blank" class="elementor-button-link elementor-button elementor-size-md elementor-animation-pulse-grow" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<i aria-hidden="true" class="far fa-arrow-alt-circle-down"></i>			</span>
<span class="elementor-button-text">Baixar Matriz Curricular - Semipresencial</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}