{% extends 'base.html' %}


{% block body %}
 <section class="elementor-section elementor-top-section elementor-element elementor-element-229fc7e elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="229fc7e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0cb710b" data-id="0cb710b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-ec31f78 elementor-widget elementor-widget-heading" data-id="ec31f78" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Presencial l Semipresencial</h4>		</div>
</div>
<div class="elementor-element elementor-element-16e1ebe elementor-widget elementor-widget-heading" data-id="16e1ebe" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">Logística</h3>		</div>
</div>
<div class="elementor-element elementor-element-dd4ad64 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="dd4ad64" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-5d0a992 elementor-widget elementor-widget-text-editor" data-id="5d0a992" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>Mostre que você entende das coisas. Faça este curso de destaque nacional do SENAI, que possui um corpo docente com formação na área e vasta experiência de mercado, além de ser a única instituição da região a possuir laboratório didático/prático de logística com equipamentos e <em>softwares</em> de simulação.</p><p><span style="font-size: 17px; color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif;">Aqui o Técnico em Logística desenvolverá competências para planejar, implementar e controlar suprimentos, produção, distribuição e reversa, gerindo todo o fluxo de materiais e informações deste o ponto de origem até o ponto de consumo. Além de prover a redução de custos logísticos, com aplicação de tecnologias, ferramentas de gestão, sustentabilidade e desenvolvimento de projetos.</span></p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-c4ddece elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="c4ddece" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-06cd651" data-id="06cd651" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-6a75b35 elementor-widget elementor-widget-heading" data-id="6a75b35" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Semipresencial</h2>		</div>
</div>
<div class="elementor-element elementor-element-98ab4de elementor-widget elementor-widget-eael-adv-tabs" data-id="98ab4de" data-element_type="widget" data-widget_type="eael-adv-tabs.default">
<div class="elementor-widget-container">
<div id="eael-advance-tabs-98ab4de" class="eael-advance-tabs eael-tabs-horizontal" data-tabid="98ab4de">
<div class="eael-tabs-nav">
<ul class="eael-tab-inline-icon">
<li class="active">
<i class="fas fa-table"></i>                                                             <span class="eael-tab-title">Pago</span>
</li>
</ul>
</div>
<div class="eael-tabs-content">
<div class="clearfix active">
<div style="overflow-x: auto;">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-o298{background-color:#FFF;border-color:inherit;color:#333;font-family:Arial, Helvetica, sans-serif !important;
font-size:10px;text-align:center;vertical-align:middle}
.tg .tg-0uab{background-color:#FFF;border-color:inherit;color:#0274BE;font-family:Arial, Helvetica, sans-serif !important;
font-size:10px;text-align:left;text-decoration:underline;vertical-align:top}
.tg .tg-b1qh{background-color:#D8D8D8;border-color:inherit;color:#333;font-family:Arial, Helvetica, sans-serif !important;
font-size:10px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-58cv{background-color:#FFF;border-color:inherit;color:#333;font-family:Arial, Helvetica, sans-serif !important;
font-size:10px;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-f31e{background-color:#FFF;border-color:inherit;color:#333;font-family:Arial, Helvetica, sans-serif !important;
font-size:10px;text-align:left;vertical-align:middle}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1131px">
<colgroup>
<col style="width: 143px">
<col style="width: 139px">
<col style="width: 57px">
<col style="width: 49px">
<col style="width: 62px">
<col style="width: 65px">
<col style="width: 165px">
<col style="width: 59px">
<col style="width: 115px">
<col style="width: 80px">
<col style="width: 96px">
<col style="width: 101px">
</colgroup>
<thead>
<tr>
<th class="tg-b1qh" rowspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">MATRÍCULAS ABERTAS</span></th>
<th class="tg-b1qh" rowspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">MUNICÍPIO</span></th>
<th class="tg-b1qh" rowspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">CURSO</span></th>
<th class="tg-b1qh" colspan="3"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">VAGAS TOTAIS</span></th>
<th class="tg-b1qh" rowspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">ENCONTROS PRESENCIAIS</span></th>
<th class="tg-b1qh" colspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">MATRÍCULA (1a MENSALIDADE)</span></th>
<th class="tg-b1qh" colspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">DEMAIS MENSALIDADES (DESCONTO PARA PAGAMENTO) ***</span></th>
<th class="tg-b1qh" rowspan="2"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">DURAÇÃO DO CURSO</span></th>
</tr>
<tr>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">TOTAL</span></th>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">ENEM (bolsa de estudo)</span></th>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">CURSO PAGO</span></th>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">VALOR *</span></th>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">MATRÍCULA COM 30% DE DESCONTO **</span></th>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">até o dia 05 (20% de desconto)</span></th>
<th class="tg-b1qh"><span style="font-weight:bold;font-style:inherit;background-color:#D8D8D8">entre os dias 06 a 15 (10% de desconto)</span></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tg-0uab">MATRICULE-SE AGORA</td>
<td class="tg-58cv">Alagoinhas</td>
<td class="tg-f31e">Logística</td>
<td class="tg-o298">40</td>
<td class="tg-o298">3</td>
<td class="tg-o298">37</td>
<td class="tg-f31e">Sábados de 9h às 13h</td>
<td class="tg-o298">  252,00</td>
<td class="tg-o298">176,40</td>
<td class="tg-o298">201,60</td>
<td class="tg-o298">226,80</td>
<td class="tg-o298">18 meses</td>
</tr>
<tr>
<td class="tg-0uab">MATRICULE-SE AGORA</td>
<td class="tg-58cv">Feira de Santana</td>
<td class="tg-f31e">Logística</td>
<td class="tg-o298">40</td>
<td class="tg-o298">5</td>
<td class="tg-o298">35</td>
<td class="tg-f31e">Sábados de 14h às 18h</td>
<td class="tg-o298">  252,00</td>
<td class="tg-o298">176,40</td>
<td class="tg-o298">201,60</td>
<td class="tg-o298">226,80</td>
<td class="tg-o298">18 meses</td>
</tr>
<tr>
<td class="tg-0uab">MATRICULE-SE AGORA</td>
<td class="tg-58cv">Lauro de Freitas</td>
<td class="tg-f31e">Logística</td>
<td class="tg-o298">40</td>
<td class="tg-o298">5</td>
<td class="tg-o298">35</td>
<td class="tg-f31e">Sábados de 9h às 13h</td>
<td class="tg-o298">  252,00</td>
<td class="tg-o298">176,40</td>
<td class="tg-o298">201,60</td>
<td class="tg-o298">226,80</td>
<td class="tg-o298">18 meses</td>
</tr>
<tr>
<td class="tg-0uab">MATRICULE-SE AGORA</td>
<td class="tg-58cv">Salvador (Dendezeiros)</td>
<td class="tg-f31e">Logística</td>
<td class="tg-o298">40</td>
<td class="tg-o298">2</td>
<td class="tg-o298">38</td>
<td class="tg-f31e">Sábados de 9h às 13h</td>
<td class="tg-o298">  252,00</td>
<td class="tg-o298">176,40</td>
<td class="tg-o298">201,60</td>
<td class="tg-o298">226,80</td>
<td class="tg-o298">18 meses</td>
</tr>
<tr>
<td class="tg-0uab">MATRICULE-SE AGORA</td>
<td class="tg-58cv">Serrinha</td>
<td class="tg-f31e">Logística</td>
<td class="tg-o298">40</td>
<td class="tg-o298">5</td>
<td class="tg-o298">35</td>
<td class="tg-f31e">Sábados de 13h às 17h</td>
<td class="tg-o298">  252,00</td>
<td class="tg-o298">176,40</td>
<td class="tg-o298">201,60</td>
<td class="tg-o298">226,80</td>
<td class="tg-o298">18 meses</td>
</tr>
</tbody>
</table>
</div>                                            </div>
</div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-a4625ed elementor-widget elementor-widget-text-editor" data-id="a4625ed" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>* Os valores indicados nesta Tabela, se referem as mensalidades do primeiro módulo e não representam o valor total do curso. O SENAI BAHIA se reserva o direito de reajustar os valores das mensalidades.<br><span data-ccp-props="{">** Desconto promocional não cumulativo com outros descontos e válidos para matrícula de alunos ingressantes em 2022.1<br></span>*** Desconto promocional conforme períodos específicos de pagamento e válidos para todas as mensalidades de alunos ingressantes em 2022.1</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-c5bf131 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c5bf131" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-83fab17" data-id="83fab17" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-c2cbd93 elementor-align-center elementor-widget elementor-widget-button" data-id="c2cbd93" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://www.tecnicosenai.com.br/wp-content/uploads/2021/11/Matriz-Tecnico-em-Logistica-Presencial.pdf" target="_blank" class="elementor-button-link elementor-button elementor-size-lg elementor-animation-pulse-grow" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<i aria-hidden="true" class="far fa-arrow-alt-circle-down"></i>			</span>
<span class="elementor-button-text">Baixar Matriz Curricular - Presencial</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-440f620" data-id="440f620" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-2f6907b elementor-align-center elementor-widget elementor-widget-button" data-id="2f6907b" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://www.tecnicosenai.com.br/wp-content/uploads/2021/11/Matriz-Tecnico-em-Logistica-Semipresencial.pdf" target="_blank" class="elementor-button-link elementor-button elementor-size-lg elementor-animation-pulse-grow" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<i aria-hidden="true" class="far fa-arrow-alt-circle-down"></i>			</span>
<span class="elementor-button-text">Baixar Matriz Curricular - Semipresencial</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-8388526 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8388526" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-466579f" data-id="466579f" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-e1af864 elementor-widget elementor-widget-image" data-id="e1af864" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<div class="elementor-image">
<img width="768" height="512" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/item-logistica.jpg" class="attachment-full size-full" alt="Curso Logística do SENAI" loading="lazy" srcset="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/item-logistica.jpg 768w, https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/item-logistica-300x200.jpg 300w" sizes="(max-width: 768px) 100vw, 768px">											</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0f8d8b5" data-id="0f8d8b5" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-07c821d elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="07c821d" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-324fd5e elementor-widget elementor-widget-heading" data-id="324fd5e" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">De olho no mercado</h3>		</div>
</div>
<div class="elementor-element elementor-element-047f530 elementor-widget elementor-widget-text-editor" data-id="047f530" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>No Brasil, a logística passa por um período de extraordinárias mudanças. Pode-se mesmo afirmar que estamos no limiar de uma revolução, tanto em termos das práticas empresariais, quanto da eficiência, qualidade e disponibilidade da infraestrutura de transportes, de comunicações e da procura por profissionais especializados; elementos fundamentais para a existência de uma logística moderna.</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>





{% endblock %}