{% extends 'base.html' %}


{% block body %}
<section class="elementor-section elementor-top-section elementor-element elementor-element-229fc7e elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="229fc7e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0cb710b" data-id="0cb710b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-ec31f78 elementor-widget elementor-widget-heading" data-id="ec31f78" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="elementor-heading-title elementor-size-default">Presencial</h4>		</div>
</div>
<div class="elementor-element elementor-element-16e1ebe elementor-widget elementor-widget-heading" data-id="16e1ebe" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">Mecatrônica </h3>		</div>
</div>
<div class="elementor-element elementor-element-dd4ad64 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="dd4ad64" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-5d0a992 elementor-widget elementor-widget-text-editor" data-id="5d0a992" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">O curso habilita profissionais técnicos de nível médio em Mecatrônica, visando suprir a demanda do mercado por profissionais qualificados para atuarem em:
</div>
</div>
</div>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-3d9e801c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d9e801c" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-482aee5b" data-id="482aee5b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-49f3a2b2 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="49f3a2b2" data-element_type="widget" data-widget_type="image-box.default">
<div class="elementor-widget-container">
<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="56" height="58" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/why-choose-us-icon-1.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Configurações, montagem e reparação de sistemas automatizados que utilizem tecnologias de redes industriais.</h3></div></div>		</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-38c89104" data-id="38c89104" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-4f9d9588 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="4f9d9588" data-element_type="widget" data-widget_type="image-box.default">
<div class="elementor-widget-container">
<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="56" height="58" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/why-choose-us-icon-2.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Criação, analise e alteração de sistemas supervisórios com tecnologia SCADA.</h3></div></div>		</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-db2cae3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db2cae3" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ba07fc6" data-id="ba07fc6" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-5af24a1 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="5af24a1" data-element_type="widget" data-widget_type="image-box.default">
<div class="elementor-widget-container">
<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="63" height="58" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/why-choose-us-icon-3.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Realização de processos em fabricação mecânica.</h3></div></div>		</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b6600b" data-id="2b6600b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-e00f7c2 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="e00f7c2" data-element_type="widget" data-widget_type="image-box.default">
<div class="elementor-widget-container">
<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="51" height="60" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/why-choose-us-icon-4.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Desenvolver projetos de sistemas de automação para manufatura, bem como de sistemas robotizados.</h3></div></div>		</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-5d767a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d767a1" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-cab323b" data-id="cab323b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-00d59d2 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="00d59d2" data-element_type="widget" data-widget_type="image-box.default">
<div class="elementor-widget-container">
<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="57" height="59" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/why-choose-us-icon-5.png" class="attachment-full size-full" alt="" loading="lazy"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Integrar processos mecânicos e eletrônicos por meio da computação.</h3></div></div>		</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c687861" data-id="c687861" data-element_type="column">
<div class="elementor-column-wrap">
<div class="elementor-widget-wrap">
</div>
</div>
</div>
</div>
</div>
</section>
<div class="elementor-element elementor-element-dfc5f08 elementor-widget elementor-widget-text-editor" data-id="dfc5f08" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>Este curso forma profissionais qualificados, com participação em projetos, montagem e manutenção de dispositivos mecatrônicos e ampla visão das tecnologias utilizadas nos modernos sistemas de automação industrial.</p><p><span style="font-size: 17px;">O Polo Industrial de Camaçari absorve uma quantidade considerável de técnicos deste curso do SENAI, que está entre os melhores do Brasil. Inclusive, nossos alunos de mecatrônica ficaram em 2º lugar na última Olimpíada do Conhecimento, a maior competição de Educação Profissional das Américas.</span></p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-8388526 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8388526" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-466579f" data-id="466579f" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-e1af864 elementor-widget elementor-widget-image" data-id="e1af864" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<div class="elementor-image">
<img width="768" height="512" src="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/item-mecatronica.jpg" class="attachment-full size-full" alt="Curso Mecatrônica do SENAI" loading="lazy" srcset="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/item-mecatronica.jpg 768w, https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/item-mecatronica-300x200.jpg 300w" sizes="(max-width: 768px) 100vw, 768px">											</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0f8d8b5" data-id="0f8d8b5" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-07c821d elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="07c821d" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="elementor-divider">
<span class="elementor-divider-separator">
</span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-324fd5e elementor-widget elementor-widget-heading" data-id="324fd5e" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">De olho no mercado</h3>		</div>
</div>
<div class="elementor-element elementor-element-047f530 elementor-widget elementor-widget-text-editor" data-id="047f530" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">O técnico em mecatrônica atua no mercado de forma muito abrangente. Ele é capaz de operar, programar e dar manutenção a sistemas eletromecânicos e automatizados, e atuar em qualquer segmento industrial que use máquinas controladas por programação como a Automobilística, Metalomecânica, Têxtil, Alimentícia, Aeroespacial, Naval e Madeireira além de empresas desenvolvedoras de projetos e soluções automatizadas.
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-3f52f2e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3f52f2e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;waves&quot;,&quot;shape_divider_bottom_negative&quot;:&quot;yes&quot;,&quot;_ha_eqh_enable&quot;:false,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
<div class="elementor-shape elementor-shape-bottom" data-negative="true">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
<path class="elementor-shape-fill" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
</svg>		</div>
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0fd29bf" data-id="0fd29bf" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-636b20a elementor-widget elementor-widget-text-editor" data-id="636b20a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>A área de Mecatrônica é uma das áreas mais novas da engenharia, bem como do nível técnico-profissionalizante, em todo o mundo. Entretanto já se revela uma das nove profissões do futuro. De acordo com uma pesquisa da Federação das Indústrias do Rio de Janeiro (Firjam), o técnico em mecatrônica está entre as nove qualificações mais procuradas pelas indústrias de todo o Brasil considerando uma perspectiva do mercado industrial até o ano de 2020.</p><p><span style="font-size: 17px;">O Pólo Industrial de Camaçari por exemplo, localizado a 50 Km de Salvador, absorve uma quantidade considerável dos egressos dos cursos técnicos do SENAI, em especial o de Mecatrônica.</span></p></div>
</div>
</div>
<div class="elementor-element elementor-element-999b35e elementor-widget elementor-widget-heading" data-id="999b35e" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-large">Destaque Nacional</h3>		</div>
</div>
<div class="elementor-element elementor-element-5326a35 elementor-widget elementor-widget-text-editor" data-id="5326a35" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p>O curso técnico em Mecatrônica oferecido pelo SENAI Bahia está entre os melhores cursos do SENAI oferecidos em todo o país, e com média acima da nacional em 2015.</p><p><span style="font-size: 17px;">O Pólo Industrial de Camaçari por exemplo, localizado a 50 Km de Salvador, absorve uma quantidade considerável dos egressos dos cursos técnicos do SENAI, em especial o de Mecatrônica.</span></p></div>
</div>
</div>
<div class="elementor-element elementor-element-c2cbd93 elementor-align-center elementor-widget elementor-widget-button" data-id="c2cbd93" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://www.tecnicosenai.com.br/wp-content/uploads/2020/11/matriz-curricular-mecatronica.pdf" target="_blank" class="elementor-button-link elementor-button elementor-size-lg elementor-animation-pulse-grow" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
<i aria-hidden="true" class="far fa-arrow-alt-circle-down"></i>			</span>
<span class="elementor-button-text">Baixar Matriz Curricular</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}